.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 8px 20px;
	@include action-small;
	&:hover {
		@media (hover: hover) {
			@include cursor;
		}
	}
	&_text {
		@include action-small;
	}
}
