.gifts_tabs {
	display: flex;
	gap: 8px;
	background-color: $main-color;
	@media screen and (max-width: 380px) {
		gap: 0;
	}
	.gifts_tab {
		@include action-small;
		padding: 12px 20px;
		background-color: $main-color;
		color: $white;
		border-radius: 12px;
		@include cursor;
		@media screen and (max-width: 380px) {
		  padding: 12px 8px;
	}
		&__active {
			background-color: $white20;
			cursor: default;
		}
		&:hover {
			@media (hover: hover) {
				background-color: $white20;
			}
		}
	}
}
