@media screen and (max-width: 768px) {
	.button_top {
		width: 56px;
		height: 56px;
		position: fixed;
		bottom: 8px;
		right: 8px;
		border-radius: 50%;
		border: 1px solid $main-color;
		rotate: -90deg;
		background-color: $white;
		z-index: 3;
		align-items: center;
		justify-content: center;
		display: none;
		translate: all 0.5s ease;
    @include cursor;
		& > svg path {
			stroke: $main-color;
		}
		&__active {
			display: flex;
		}
	}
}
