html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  
}
body {
  background-color: $bcground-color;
  max-width: 100vw;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 0;
  margin: 0;
}
.header, .section, .footer {
  padding: 0 82px;
}

.caption__top {
  order: -1;
}
