@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/Montserrat/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../assets/fonts/Montserrat/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Allura";
  src: url("../assets/fonts/allura/Allura-Regular.eot");
  src: url("../assets/fonts/allura/Allura-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/allura/Allura-Regular.woff2") format("woff2"), url("../assets/fonts/allura/Allura-Regular.woff") format("woff"), url("../assets/fonts/allura/Allura-Regular.ttf") format("truetype"), url("../assets/fonts/allura/Allura-Regular.svg#Allura-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

h1 {
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 18%;
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 16%;
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 8%;
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 5%;
}

.caption {
  font-family: Allura;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 5%;
}

.action-small {
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 5%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  text-transform: uppercase;
  background-color: #FFFFFF;
}

.main-menu {
  display: flex;
  gap: 8px;
}
.main-menu_item {
  height: 100%;
  width: auto;
  padding: 20px 12px;
  transition: all 0.5s ease;
}
.main-menu_item:hover {
  background-color: rgba(255, 70, 70, 0.1);
  color: #FF4646;
  border-radius: 12px;
  cursor: pointer;
}

.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 141px;
}
.header_logo:hover {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FF4646;
}

body {
  background-color: #ECF3F8;
  max-width: 100vw;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header, .main, .footer {
  padding: 0 82px;
}