.footer {
	&_container {
		@include flex-column;
		gap: 60px;
		padding: 60px 0;
	}
	&_top {
		display: flex;
		gap: 12px;
		width: 100%;
		justify-content: space-between;
	}
	&_bottom {
		@include flex-column;
		align-items: center;
		gap: 12px;
	}
	&_media {
		display: flex;
		gap: 12px;
	}
	&_school-link {
		text-decoration: none;
		color: $dark;
		@include transition5;
		@include cursor;
		&:hover {
			@media (hover: hover) {
				color: $main-color;
			}
		}
	}
}
