.header {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 8px;
	text-transform: uppercase;
	background-color: $white;
	& a {
		text-decoration: none;
		color: $dark;
	}
}
.main-menu {
	display: flex;
	gap: 8px;
	&_item a {
		@include action-small;
    display: block;
		height: 100%;
		width: auto;
		padding: 20px 12px;
		@include transition5;
		&:hover {
			background-color: $main-color10;
			color: $main-color;
			border-radius: 12px;
			@include cursor;
		}
	}
}

