main {
  background-image: url('../assets/images/bg-snow.png');
  background-repeat: repeat;
  background-size: cover;
  background-color: $main-color;
}
.hero {
  background-image: url('../assets/images/bg-ball.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 0;
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 426px;
    margin: 0 auto;
    padding: 60px 0;
    & .caption {
      color: $white;
      &__top {
        order: -1;
      }
    }
  }
}
