@mixin header-font {
	font-family: Montserrat;
	font-weight: 600;
	text-transform: uppercase;
}

@mixin action-small {
	@include header-font;
	font-size: 12px;
	line-height: 130%;
	letter-spacing: 5%;
}

@mixin cursor {
  cursor: url('../assets/images/icons/cursors.png'), pointer;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}