$main-color: #FF4646;
$main-color10: rgba($main-color, 0.1);
$main-color40: rgba($main-color, 0.4);
$white: #FFFFFF;
$white40: rgba($white, 0.4);
$white20: rgba($white, 0.2);
$tag-purple: #4361FF;
$tag-pink: #FF43F7;
$tag-green: #06A44F;
$bcground-color: #ECF3F8;
$dark: #181C29;
$overlay: rgba($dark, 0.8);